/*------------------------------------*\
    #SHAKA EDITME
\*------------------------------------*/

sk-editme {
  display: inherit;
  position: relative;
}

sk-editme input.ng-invalid,
sk-editme textarea.ng-invalid {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
sk-editme input.ng-invalid:focus,
sk-editme textarea.ng-invalid:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}



sk-editme .model-wrapper {
  display: inline-block;
  padding-right: 1em;
  position: relative;
}
sk-editme .model-wrapper.hide-icon {
  padding-right: 0;
}



sk-editme .model-content {
  display: inline-block;
  position: relative;
}
sk-editme .model-content::after {
  position: absolute;
  background-color: #e0e0e0;
  box-sizing: content-box;
  border: 2px solid #e0e0e0;
  content: "";
  top: -2px;
  left: -2px;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
sk-editme .model-content.edit-active {
  background-color: #ccffff;
  cursor: pointer;
}
sk-editme .model-content.edit-active::after {
  opacity: 1;
}
sk-editme .editme-touch .model-content.edit-active::after {
  opacity: 0;
}



sk-editme sk-editme-icon {
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
}
sk-editme sk-editme-icon::after {
  background-color: #e0e0e0;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  border-left: 5px solid #e0e0e0;
  border-right: 5px solid #e0e0e0;
  box-sizing: content-box;
  content: "";
  opacity: 0;
  position: absolute;
  top: -2px;
  left: -5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
sk-editme sk-editme-icon.edit-active::after {
  opacity: 1;
}
sk-editme .editme-touch sk-editme-icon.edit-active::after {
  opacity: 0;
}

sk-editme .icon-wrapper {
  width: 1em;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
}

sk-editme sk-editme-icon svg {
  background-color: #ccffff;
  display: block;
  position: absolute;
  width: 0.9em;
  height: 1em;
  top: 50%;
  left: 50%;
  margin-top: -0.45em;
  margin-left: -0.4em;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
sk-editme sk-editme-icon.edit-active svg {
  opacity: 1;
}
sk-editme .editme-touch sk-editme-icon.edit-active svg {
  opacity: 0;
}

