<!-- <div id="menu">
		<ul>
			<li><img src="./image/linkedin.png" atl="linkedin"></li>
			<li><a href="#">Trang chủ</a></li>
			<li><a href="#">Diễn đàn</a></li>
			<li><a href="#">Tin tức</a></li>
			<li><a href="#">Hỏi đáp</a></li>
			<li><a href="#">Liên hệ</a></li>
		</ul>
	</div> -->
<div id="menu">
    <ul>
        <li><a href="#/login" class="hvr-shutter-out-horizontal">SIGN IN</a></li>
        <li><a href="#/home" class="hvr-shutter-out-horizontal">HOME</a></li>
        <li><a href="#/summary" class="hvr-shutter-out-horizontal">SUMMARY</a></li>
        <li><a href="#/experience" class="hvr-shutter-out-horizontal">EXPERIENCE</a></li>
        <li><a href="#/skill" class="hvr-shutter-out-horizontal">SKILLS</a></li>
        <li><a href="#/hobby"  class="hvr-shutter-out-horizontal">HOBBIES</a></li>
    </ul>
</div>
<div class="cover">
    <div class="music">
        <div class="banner">
            <p class="animated fadeInDown">Welcome to my Website</p>
        </div>
        <!--<div class="audio">-->
            <!--<audio controls loop>-->
                <!--<source src="audio.mp3" type="audio/mpeg" >-->
            <!--</audio>-->
        <!--</div>-->
    </div>
	

    <div id="summary">
        <img src="image/summary2.jpg" alt="img01"/>
    </div>

        <!-- Mục summary -->
        <div class="demuc" ng-init="listSum=[]">
            <div class="ten">
                    <p>SUMMARY</p>
                    <hr>
            </div>
            <div id="curr" class="description">
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">Họ và tên: </p>
                    <div class="col-md-4">
                        <span href="#" editable-text="person.summary.name">{{ person.summary.name }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">Ngày tháng năm sinh: </p>
                    <div class="col-md-4">
                        <span href="#" editable-text="person.summary.born">{{ person.summary.born }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">Email: </p>
                    <div class="col-md-4">
                        <span href="#" editable-text="person.summary.email">{{ person.summary.email }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">Ngoại ngữ: </p>
                    <div class="col-md-4">
                        <span href="#" editable-text="person.summary.language">{{ person.summary.language }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">Kinh nghiệm làm việc: </p>
                    <div class="col-md-4">
                        <span href="#" editable-text="person.summary.exp">{{ person.summary.exp }}</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">Điểm mạnh: </p>
                    <div class="col-md-4">
                        <span href="#" editable-text="person.summary.ability">{{ person.summary.ability }}</span>
                    </div>
                </div>

                <div class="form-group row" ng-repeat="sum in listSum">
                    <div class="col-md-2"></div>
                    <p class="col-md-5">{{sum.label}}</p>
                    <div class="col-md-4">
                        <span href="#" editable-text="sum.information">{{ sum.information || "empty" }}</span>
                    </div>
                </div>

                <hr>
            </div>
        </div>

    <div class="display">
        <p class="in">{{user}} <a class="out" ng-click="Logout()">Log out</a></p>
    </div>
</div>
